<!DOCTYPE html>
<html lang="br-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Clientes/Login/Cadastro/cadastro.css">
    <title>Cadastro</title>
</head>
<body>

<div class="mãe">

    <form>

        <main class="container">

            <div class="titulo">

                <h1>Cadastro</h1>

            </div>

            <div class="caixas">

                <input id="nome" type="text" name="nome" placeholder="nome completo">

            </div>

            <div class="caixas">

                <input id="email" type="email" name="email" placeholder="E-mail">

            </div>

            <div class="caixas">

                <input id="telefone" type="tel" name="telefone" placeholder="(XX) XXXXX-XXXX" >

            </div>

            <div class="caixas">

                <input id="senha" type="password" name="senha" placeholder="senha">

            </div>

            <div class="caixas">

                <input id="confirma" type="password" name="confirma" placeholder="confirme a senha">

            </div>

            <div>

                <button id="botao" type="submit" class="botao">Pronto?</button>

            </div>

        </main>

    </form>

</div>
<script src="/js/Clientes/Cadastro.js"></script>
</body>
</html>